---
import { SITE } from '@/config';
import HeaderLink from './HeaderLink.astro';
import Search from './Search.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const { githubId } = SITE;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class='flex-grow text-right flex items-center justify-end gap-4'>
  <HeaderLink href='/' class='hidden md:inline-flex'>{t('nav.home')}</HeaderLink>
  <HeaderLink href='/about' class='hidden md:inline-flex'>{t('nav.about')}</HeaderLink>
  <HeaderLink href={`https://github.com/${githubId}`} target='_blank' class='hidden md:inline-flex'>{t('nav.github')}</HeaderLink>
  <HeaderLink href={lang === 'en' ? '/en/rss.xml' : '/rss.xml'} target='_blank' class='hidden md:inline-flex' title='RSS'>RSS</HeaderLink>

  <Search />
</div>
